.project-container
  display: flex
  flex-direction: column
  align-items: center

.desktop-card
  display: flex
  justify-content: center
  width: 65vw

.desktop-image
  margin-right: 4vw
  height: 35vh
  width: 30vw
  border-radius: 20px

.card-info
  display: flex
  flex-direction: column
  justify-content: center
  padding-left: 1%
  width: 40%

.top-label
  text-align: center
  padding-top: 10vh
  padding-bottom: 10vh
  font-size: 30px
  font-family: Barlow-Bold
  font-weight: bold
  color: #646464

.info-buttons-container
  padding-right: 10%
  padding-top: 10%

.button-spacing
  margin-right: 4vw

.my-pink
  background: #d05353 !important
  border-style: none !important
  font-family: Barlow-Medium
  color: #fdfdfd !important

.my-gray
  background: #373737 !important
  border-style: none !important
  font-family: Barlow-Medium
  color: #cacaca !important

.proj-hr
  align-self: center
  margin-top: 15vh
  margin-bottom: 15vh
  width: 94%
  border: 1px solid #383838

.proj-header
  text-align: start
  align-self: start
  justify-content: start
  margin-bottom: 30px
  font-weight: bold
  font-family: Barlow-MediumI
  font-size: 30px
  color: #d6d6d6

.proj-text
  color: #808080
