.project-container
  display: flex
  flex-direction: column
  align-items: center

.proj-cards-container
  display: flex
  flex-direction: column

.top-label
  text-align: center
  padding-top: 10vh
  padding-bottom: 10vh
  font-size: 30px
  font-family: Barlow-Bold
  font-weight: bold
  color: #646464

.proj-hr
  align-self: center
  margin-top: 15rem
  margin-bottom: 15rem
  width: 94%
  border: 1px solid #383838

@media (max-width: 1000px)
  .proj-hr
    margin-top: 10rem
    margin-bottom: 10rem