.project-container
  display: flex
  flex-direction: column
  align-items: center

.desktop-card
  display: flex
  width: 65vw
  justify-content: center

.desktop-image
  height: 35vh
  width: 30vw
  margin-right: 5vw
  border-radius: 20px

.card-info
  display: flex
  flex-direction: column
  justify-content: center
  padding-left: 1%
  width: 40%

.top-label
  font-size: 30px
  font-weight: bold
  color: #646464
  text-align: center
  padding-top: 10vh
  padding-bottom: 10vh

.info-buttons-container
  padding-right: 10%
  padding-top: 10%

.button-spacing
  margin-right: 4vw

.my-pink
  background: #d05353 !important
  border-style: none !important
  color: #fdfdfd !important

.my-gray
  background: #373737 !important
  border-style: none !important
  color: #cacaca !important

.proj-hr
  border: 1px solid #383838
  margin-top: 15vh
  margin-bottom: 15vh
  width: 94%
  align-self: center

.proj-header
  text-align: start
  font-size: 30px
  color: #d6d6d6
  justify-content: start
  align-self: start
  margin-bottom: 30px
  font-weight: bold

.proj-text
  color: #808080
