.popup-container
  position: fixed
  height: 100vh
  bottom: 0px
  width: 100%

.active-overlay
  position: absolute
  bottom: 0px
  height: 100vh
  width: 100%
  background: rgba(0, 0, 0, .8)

.popup-tech
  background: #003d3a
  height: 15rem
  width: 30rem
  border-radius: 10px
  position: absolute
  left: 20vw
  display: flex
  justify-content: center
  flex-direction: row
  top: 10vh
  align-items: flex-end
  z-index: 1
  p
    font-size: 3rem
    color: #d1d1d1
    position: absolute
    top: 1rem

.tech-icons1
  height: 5rem
  width: 5rem
  object-fit: contain
  margin-left: 5px
  margin-right: 5px
  margin-bottom: 2rem

.popup-info
  height: 30rem
  width: 50rem
  background: #003d3a
  position: absolute
  right: 35vw
  bottom: 10vh
  z-index: 1
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  border-radius: 10px
  h1
    font-size: 4rem
    color: #e4e4e4
    margin-bottom: 2rem
  p
    width: 80%
    font-size: 1.8rem
    color: #a7a7a7

.desktop-popup-container
  position: absolute
  right: 5rem
  z-index: 100
  display: flex
  flex-direction: column
  background: #003d3a
  height: 100vh
  overflow-y: scroll
  img
    height: 23rem
    margin: 3rem
    border-radius: 20px
    width: 40rem
    object-fit: cover

.button-more-info
  position: absolute
  border: none
  font-size: 2rem
  width: 20rem
  height: 7rem
  bottom: 15rem
  font-weight: 500
  color: #e4e4e4
  background: #003d3a
  box-shadow: inset 0 -7px 9px -4px rgba(0,0,0,0.4)
  right: 46rem
  transform: rotate(-90deg)

.button-view-tech
  position: absolute
  border: none
  font-size: 2rem
  width: 20rem
  height: 7rem
  top: 15rem
  font-weight: 500
  color: #e4e4e4
  background: #003d3a
  box-shadow: inset 0 7px 9px -4px rgba(0,0,0,0.4)
  left: 26rem
  transform: rotate(-90deg)

.mobile-popup-container
  position: absolute
  left: 5rem
  z-index: 1
  display: flex
  flex-direction: column
  background: #003d3a
  overflow-y: scroll
  height: 100vh

  img
    height: 45rem
    margin: 3rem
    border-radius: 20px
    width: 20rem
    object-fit: cover
