.intro-bg-image
  display: flex
  justify-content: center
  align-items: center
  background-image: url('../../assets/images/paper.jpg')
  background-position: 0% 75%
  background-size: cover
  filter: saturate(0%) opacity(5%)
  border-bottom-left-radius: 40%
  border-bottom-right-radius: 40%
  height: 60vh
  width: 100vw

.bg-image-cover
  position: relative
  z-index: 100
  background-color: #d05353
  border-bottom-right-radius: 40%
  border-bottom-left-radius: 40%
  height: 60vh
  width: 100vw
  display: flex
  justify-content: center

.card-container
  position: absolute
  top: 30%
  width: 40vw
  box-shadow: 5px 5px 10px !important
  border-radius: 10px
  animation: slide-up 1s forwards
  opacity: 0

@keyframes slide-up
  0%
    opacity: 0
    transform: translateY(15rem)
  100%
    opacity: 1
    transform: translateY(0rem)

.bg-card-color
  background-color: #ce7e3d !important

.title
  font-size: 4rem !important
  margin-bottom: 3rem !important

.subtitle
  font-size: 2.2rem !important
  animation: 1s ease-out 0s 1 fontChange

@keyframes fontChange
  0%
    opacity: 0

  100%
    opacity: 1

@media (max-width: 1200px)
  .card-container
    width: 40% !important

@media (max-width: 1000px)
  .card-container
    top: 30%
    width: 50% !important

@media (max-width: 800px)
  .card-container
    top: 25%
    width: 60% !important

@media (max-width: 620px)
  .intro-bg-image
    height: 85vh
    border-bottom-left-radius: 0%
    border-bottom-right-radius: 0%
  .bg-image-cover
    height: 85vh
    border-bottom-right-radius: 0%
    border-bottom-left-radius: 0%
  .card-container
    width: 70% !important
    top: 30%

@media (max-width: 400px)
  .card-container
    width: 85% !important
    top: 30%

@media (max-height: 600px)
  .bg-image-cover
    height: 80vh
