.intro-bg-image
  display: flex
  justify-content: center
  align-items: center
  background-image: url('../../assets/images/paper.jpg')
  background-position: 0% 75%
  background-size: cover
  filter: saturate(0%) opacity(5%)
  border-bottom-left-radius: 40%
  border-bottom-right-radius: 40%
  height: 60vh
  width: 100vw

  // $breakpoint-tablet: ;

.bg-image-cover
  position: relative
  z-index: 100
  background-color: #d05353
  border-bottom-right-radius: 40%
  border-bottom-left-radius: 40%
  height: 100%
  width: 100%

.card-container
  position: absolute
  top: 50%
  left: 35%
  box-shadow: 5px 5px 10px !important
  border-radius: 10px

.bg-card-color
  background-color: #ce7e3d !important

@media (max-width: 620px)
  .intro-bg-image
    height: 85vh
    border-bottom-left-radius: 0%
    border-bottom-right-radius: 0%

  .bg-image-cover
    border-bottom-right-radius: 0%
    border-bottom-left-radius: 0%

  .card-container
    width: 70%
    top: 30%
    left: 15%

@media (min-width: 620px)
  .intro-bg-image
    height: 70vh
    border-bottom-left-radius: 20%
    border-bottom-right-radius: 20%

  .bg-image-cover
    border-bottom-right-radius: 20%
    border-bottom-left-radius: 20%
    background: #000000

  .card-container
    width: 70%
    top: 30%
    left: 15%
