.project-container
  width: 100%

.project-city-bg
  position: absolute
  z-index: -1
  filter: opacity(.2) saturate(0) brightness(.6) contrast(1)
  height: 100%
  width: 100%
  background: url('../../assets/images/portfolio/city.jpeg')
  background-repeat: no-repeat
  background-size: cover

.main-images
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  img
    height: 34rem
    width: 60rem
    margin: 5rem
    object-fit: cover
    border-radius: 20px