.contact-cards-container
  display: flex
  align-items: center
  justify-content: center

.contact-information
  height: 20rem
  width: 35rem
  margin-left: 3rem
  margin-right: 3rem
  border-radius: 20px
  background: #E2AC3C
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  position: relative
  transition: border-radius 1s, background .5s
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4)
  p
    text-align: start
    color: #000
    font-size: 2.5rem
    font-family: Rowdies
    z-index: 1
  &:hover
    background: #ffcd69
    border-radius: 0px

.another-way-card
  display: none
  justify-content: flex-start
  flex-direction: column
  align-items: center
  height: 20rem
  width: 35rem
  background: #003D3A
  z-index: 3
  border-radius: 20px
  transition: border-radius 1s, background .5s
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .4)
  cursor: pointer
  &:hover
    background: #005a30
    border-radius: 0px
  p
    margin-top: 10%
    color: #eeeeee
    font-size: 2.5rem
    font-family: Rowdies
    z-index: 1
  img
    height: 10%
    width: 9%
    border-radius: 25px
    z-index: 0
    position: absolute
    object-fit: cover
    opacity: .5

.boardwalk-bg, .pass-go-bg, .jail-free-bg
  height: 100%
  width: 100%
  border-radius: 25px
  z-index: 0
  position: absolute
  object-fit: cover

.boardwalk-bg
  opacity: .25
.pass-go-bg
  opacity: .2
.jail-free-bg
  opacity: .25
.link
.link:hover
  color: red

@media (max-width: 1400px)
  .contact-information
    height: 18rem
    width: 33rem
    margin-left: 2rem
    margin-right: 2rem

@media (max-width: 1300px)
  .contact-information
    height: 16rem
    width: 30rem
    margin-left: 1.5rem
    margin-right: 1.5rem

@media (max-width: 900px)
  .contact-cards-container
    flex-direction: column
  .cards-inner-container
    margin-top: 12rem
  .contact-information
    height: 20rem
    width: 35rem
    margin: 0px
    margin-bottom: 3vh
    margin-top: 3vh
  .another-way-card
    margin-bottom: 3vh
    margin-top: 3vh
    display: flex
