.contact-cards-container
  display: flex
  margin-top: 8rem

.contact-information
  height: 20rem
  margin-left: 3rem
  margin-right: 3rem
  width: 35rem
  border-radius: 20px
  background: #E2AC3C
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  position: relative
  p
    text-align: start
    color: #000
    font-size: 2.5rem
    font-family: Rowdies
    z-index: 1

.boardwalk-bg, .pass-go-bg, .jail-free-bg
  height: 100%
  width: 100%
  border-radius: 25px
  z-index: 0
  position: absolute
  object-fit: cover

.boardwalk-bg
  opacity: .25
.pass-go-bg
  opacity: .2
.jail-free-bg
  opacity: .25