.about-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  margin-top: 10vh

.about-container
  width: 40vw
  background: #003D3A
  padding: 5rem
  border-radius: 20px

.about-header
  display: flex
  align-items: center
  font-weight: bold
  font-size: 4rem
  margin-bottom: 30px
  color: #e4e4e4
  animation: slide-right 1s forwards
  opacity: 0

.about-desc
  font-size: 2rem
  color: #a2a2a2
  animation: slide-left 1s forwards
  opacity: 0

@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(100rem) skew(-10deg)
  90%
    opacity: 1
    transform: translateX(-.3rem) skew(0deg)
  100%
    opacity: 1
    transform: translateX(0rem) skew(0deg)

@keyframes slide-right
  0%
    opacity: 0
    transform: translateX(-100rem) skew(40deg)
  90%
    opacity: 1
    transform: translateX(.3rem) skew(0deg)
  100%
    opacity: 1
    transform: translateX(0rem) skew(0deg)

.icon-container
  display: flex
  margin-top: 3rem
  justify-content: center
  width: 70%
  flex-wrap: wrap

.icon-tech
  display: flex
  justify-content: center
  align-items: center
  background: #CE7E3D
  height: 8rem
  width: 8rem
  margin-bottom: 2rem
  margin-left: 2rem
  margin-right: 2rem
  border-radius: 10rem

@media (max-width: 1000px)
  .about-container
    width: 50vw
  .about-header
    font-size: 3rem
  .about-desc
    font-size: 1.6rem

@media (max-width: 620px)
  .about-container
    width: 70vw
  .icon-tech
    width: 70px
    height: 70px
    margin-left: 1rem
    margin-right: 1rem

@media (max-width: 500px)
  .about-container
    width: 70vw