@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(100rem) skew(-10deg)
  90%
    opacity: 1
    transform: translateX(-.3rem) skew(0deg)
  100%
    opacity: 1
    transform: translateX(0rem) skew(0deg)

@keyframes slide-right
  0%
    opacity: 0
    transform: translateX(-100rem) skew(40deg)
  90%
    opacity: 1
    transform: translateX(.3rem) skew(0deg)
  100%
    opacity: 1
    transform: translateX(0rem) skew(0deg)

.about-section
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100%

.about-bg
  height: 100vh
  width: 100%
  position: absolute
  z-index: -1
  opacity: .3
  background: url('../../assets/images/portfolio/about.png')
  background-size: cover
  background-repeat: no-repeat

.about-container
  display: flex
  justify-content: center
  flex-direction: column
  padding: 5rem
  background: #003D3A
  border-radius: 20px
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4)
  width: 70rem

.about-header
  display: flex
  align-items: center
  font-weight: bold
  font-size: 4rem
  margin-bottom: 30px
  color: #e4e4e4
  align-self: center
  animation: slide-right 1s forwards
  opacity: 0

.about-desc
  font-size: 2rem
  color: #a2a2a2
  animation: slide-left 1s forwards
  opacity: 0

@media (max-height: 800px) and (max-width: 900px)
  .about-container
    position: absolute
    bottom: 0px
    width: 95% !important

@media (max-height: 600px)
  .about-container
    width: 120rem

@media (max-width: 800px)
  .about-container
    width: 50rem
  .about-desc
    font-size: 1.8rem
@media (max-width: 600px)
  .about-container
    width: 40rem
    padding: 2rem
