.about-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 70vh

.about-container
  width: 40vw

.about-header
  display: flex
  align-items: center
  font-weight: bold
  font-size: 4rem
  margin-bottom: 30px
  color: #e4e4e4
  animation: slide-right 1s forwards
  opacity: 0

.about-desc
  font-size: 2rem
  color: #a2a2a2
  animation: slide-left 1s forwards
  opacity: 0

@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(100rem)
  100%
    opacity: 1
    transform: translateX(0rem)

@keyframes slide-right
  0%
    opacity: 0
    transform: translateX(-100rem)
  100%
    opacity: 1
    transform: translateX(0rem)

.icon-container
  display: flex
  margin-top: 3rem
  justify-content: center
  width: 70%
  flex-wrap: wrap

.icon-tech
  display: flex
  justify-content: center
  align-items: center
  background: #CE7E3D
  height: 8rem
  width: 8rem
  margin-bottom: 2rem
  margin-left: 2rem
  margin-right: 2rem
  border-radius: 10rem

@media (max-width: 1220px)
  .about-section
    height: 90vh

@media (max-width: 1000px)
  .about-section
    height: 90vh

  .about-container
    width: 50vw

@media (max-width: 700px)
  .about-section
    height: 110vh

@media (max-width: 620px)
  .about-section
    height: 95vh

  .about-container
    width: 70vw

  .icon-tech
    width: 70px
    height: 70px
    margin-left: 1rem
    margin-right: 1rem

@media (max-width: 500px)
  .about-section
    height: 120vh

  .about-container
    width: 70vw

@media (max-height: 600px)
  .about-section
    height: 130vh

@media (max-height: 620px) and (max-width: 1230px)
  .about-section
    height: 120vh

@media (max-height: 620px) and (max-width: 705px)
  .about-section
    height: 150vh
