.desktop-container
  position: relative
  margin-right: 1vw
  height: 30rem
  display: flex
  align-items: center
  width: 30vw
  border-radius: 20px
  overflow: hidden

.desktop-image
  position: absolute
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(100%);
  object-fit: cover
  margin-right: 1vw
  height: 28rem
  width: 50vw
  border-radius: 20px

.desktop-image:hover
  filter: brightness(150%);
  transform: scale(1.2);
  transition: transform 1s, filter 1s ease-in-out;
  
.shaded-box
  position: absolute
  z-index: 1
  bottom: 0vh
  height: 10rem
  width: 100%
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px
  background: black
  opacity: 0%

.shaded-active
  transition: 1s opacity
  opacity: 50%

.icons-container
  justify-content: center
  display: flex
  position: absolute
  z-index: 2
  bottom: 1vh
  width: 100%

@media (min-width: 1000px) and (max-width: 1250px)
  .desktop-image
    width: 100%
  .desktop-container
    width: 40vw


@media (min-width: 800px) and (max-width: 1000px)
  .desktop-image
    width: 100%
  .desktop-container
    width: 50vw


@media (max-width: 800px)
  .desktop-image
    height: 23rem
    width: 80%
    margin-left: 10%

  .desktop-container
    height: 23rem
    width: 100%

  .shaded-box
    height: 7rem
    width: 80%
    margin-left: 10%
    bottom: 0vh
  .icons-container
    bottom: 1vh


@media (max-width: 620px)
  .desktop-image
    height: 23rem
    width: 100%
    margin-left: 0%

  .desktop-container
    height: 23rem
    width: 100%

  .shaded-box
    height: 7rem
    width: 100%
    margin-left: 0px


@media (max-height: 750px) and (max-width: 620px)
  .desktop-image
    height: 23rem
    width: 90%
    margin-left: 5%
