.bottom-modal-container
  height: 40rem
  width: 100%
  background: #003D3A
  position: absolute
  bottom: 0px
  display: flex
  align-items: flex-end


.bottom-popup-container
  display: flex
  justify-content: center
  align-items: center
  width: 200%
  img
    height: 23rem
    margin: 3rem
    border-radius: 20px
    width: 40rem
    object-fit: cover
    transition: transform 1s

.left-arrow
  position: fixed
  left: 3rem
  color: black
  cursor: pointer
  padding: 1rem
  z-index: 10

.right-arrow
  position: fixed
  z-index: 10
  right: 3rem
  color: black
  cursor: pointer
  padding: 1rem
