.card-info
  display: flex
  align-self: center
  flex-direction: column
  justify-content: center
  padding-left: 2%
  width: 40%

.proj-header
  text-align: start
  align-self: start
  justify-content: start
  margin-bottom: 3rem
  font-weight: bold
  font-family: Barlow-MediumI
  font-size: 4rem
  color: #d6d6d6

.proj-text
  font-size: 2rem
  color: #808080

.info-buttons-container
  margin-top: 4rem

.button-spacing
  margin-right: 10%

.my-pink
  height: 4rem !important
  font-size: 1.5rem !important
  background: #d05353 !important
  border-style: none !important
  font-family: Barlow-Medium
  color: #fdfdfd !important

.my-gray
  height: 4rem !important
  font-size: 1.5rem !important
  background: #373737 !important
  border-style: none !important
  font-family: Barlow-Medium
  color: #cacaca !important

@media (min-width: 800px) and (max-width: 1000px)
  .card-info
    width: 35%

@media (max-width: 800px)
  .card-info
    width: 90%
    margin-top: 5rem
  .info-buttons-container
    display: flex
    justify-content: center,
  .button-spacing
    margin-right: 5rem
    margin-left: 5rem

@media (max-height: 850px) and (max-width: 800px)
  .card-info
    width: 90%
    margin-top: 1.5rem
  .info-buttons-container
    display: flex
    justify-content: flex-start
  .button-spacing
    margin-top: -2rem
    margin-left: 15vw
  .proj-header
    font-size: 3rem
  .proj-text
    font-size: 1.6rem
    margin-top: 0rem
  .proj-header
    margin-bottom: 2rem

@media (max-height: 900px) and (max-width: 620px)
  .card-info
    width: 90%
    margin-top: 2rem
  .info-buttons-container
    display: flex
    justify-content: flex-start
  .button-spacing
    margin-top: 0rem
    margin-left: 3.5rem
  .proj-header
    font-size: 3rem
  .proj-text
    font-size: 1.6rem
