.card-info
  display: flex
  align-self: center
  flex-direction: column
  justify-content: center
  padding-left: 2%
  width: 40%

.proj-header
  text-align: start
  align-self: start
  justify-content: start
  margin-bottom: 30px
  font-weight: bold
  font-family: Barlow-MediumI
  font-size: 4rem
  color: #d6d6d6

.proj-text
  font-size: 2rem
  color: #808080

.info-buttons-container
  padding-right: 10%
  padding-top: 10%

.button-spacing
  margin-right: 4vw

.my-pink
  background: #d05353 !important
  border-style: none !important
  font-family: Barlow-Medium
  color: #fdfdfd !important
  transform: scale(1.7)
  margin-left: 1.7rem
  
.my-gray
  background: #373737 !important
  border-style: none !important
  font-family: Barlow-Medium
  transform: scale(1.7)
  margin-left: 1.7rem
  color: #cacaca !important

@media (min-width: 800px) and (max-width: 1000px)
  .card-info
    width: 35%








@media (max-width: 800px)
  .card-info
    width: 90%
    margin-top: 5vh
  .info-buttons-container
    display: flex
    justify-content: center
  .button-spacing
    margin-top: 5vh
    margin-left: 15vw
    
