.button-view-tech, .button-more-info,.button-view-repo, .button-visit-site
  position: absolute
  border: none
  font-size: 2rem
  width: 20rem
  height: 7rem
  font-weight: 500
  color: #e4e4e4
  background: #003d3a
  box-shadow: inset 0 -7px 9px -4px rgba(0,0,0,0.4)
  border-top-right-radius: 5px
  border-top-left-radius: 5px

.button-visit-site, .button-more-info
  transform: rotate(-90deg)
  right: 46rem

.button-more-info
  bottom: 15rem
.button-visit-site
  bottom: 33rem
  right: 51rem
  width: 10rem


.button-view-tech, .button-view-repo
  transform: rotate(90deg)
  left: 26rem

.button-view-tech
  top: 15rem
.button-view-repo
  top: 33rem
  width: 10rem
  left: 31rem

//*********
.tech-icons1
  height: 5rem
  width: 5rem
  object-fit: contain
  margin-left: 5px
  margin-right: 5px
  margin-bottom: 2rem

.popup-info
  height: 30rem
  width: 50rem
  background: #003d3a
  position: absolute
  right: 35vw
  bottom: 10vh
  z-index: 1
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  border-radius: 10px
  h1
    font-size: 4rem
    color: #e4e4e4
    margin-bottom: 2rem
  p
    width: 80%
    font-size: 1.8rem
    color: #a7a7a7

.popup-tech
  background: #003d3a
  height: 15rem
  width: 30rem
  border-radius: 10px
  position: absolute
  left: 20vw
  display: flex
  justify-content: center
  flex-direction: row
  top: 10vh
  align-items: flex-end
  z-index: 1
  p
    font-size: 3rem
    color: #d1d1d1
    position: absolute
    top: 1rem
