.home-container
  width: 100%
  height: 100vh
  display: flex
  justify-content: flex-end

.red-dice-bg
  height: 50rem
  width: 70rem
  margin-top: 20rem
  margin-left: 5rem
  background: url('../../assets/images/portfolio/red-dice-cropped.png')
  background-repeat: no-repeat

.triangle-green-container
  width: 0
  height: 0
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
  z-index: -1
  border-bottom: 100vh solid #003d3a
  border-left: 20rem solid transparent

.home-green-container
  height: 100vh
  width: 50%
  background: #003d3a
  display: flex
  justify-content: center
  flex-direction: column
  align-items: flex-start
  h1
    margin-top: 30rem
    font-family: Rowdies
    color: white
    font-size: 6rem
  p
    color: white
    font-size: 2rem
    width: 60rem
