.contact-information
  height: 30rem
  width: 60rem
  border-radius: 20px
  background: #003D3A
  display: flex
  justify-content: center
  flex-direction: column
  h1
    margin-bottom: 5rem
    color: #c4c4c4
    font-size: 2.5rem
  p
    text-align: start
    color: #575757
    font-size: 1.8rem
    margin-left: 2rem
.underline-me
  color: blue
  text-decoration: underline

.ctt-container
  display: flex
  flex-direction: column
  align-items: center

.ctt-width
  width: 40vw

.header
  align-self: start
  text-align: start
  margin-bottom: 5vh
  font-weight: bold
  font-size: 4rem
  color: #dcdcdc

.label
  font-size: 1.7rem !important
  color: #929196 !important
  font-family: Barlow-medium !important

.help
  font-size: 1.5rem !important

.is-link
  height: 4rem !important
  width: 7.5rem
  font-size: 1.5rem !important
  margin-top: 1.5rem

.input
  font-size: 1.6rem !important

.textarea
  font-size: 1.6rem !important

.links
  display: flex
  justify-content: center

.link-margin
  margin-left: 3vw
  margin-right: 3vw

@media (min-width: 800px) and (max-width: 1000px)
  .ctt-width
    width: 50vw

@media (max-width: 800px)
  .header
    font-size: 3rem

@media (min-width: 620px) and (max-width: 800px)
  .ctt-width
    width: 60vw

@media (max-width: 620px)
  .ctt-width
    width: 80vw
