.ctt-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.contact-form
  background: linear-gradient(180deg, rgba(0,61,58,1) 0%, #004946 50%, rgba(0,61,58,1) 100%)
  position: absolute
  bottom: 0px
  padding-left: 20rem
  padding-right: 20rem
  border-radius: 2rem
  z-index: 1

.ctt-width
  width: 40vw

.OR
  font-size: 4rem
  margin-top: 6rem
  font-family: Rowdies
  color: #fff
  z-index: 100

.header
  align-self: start
  text-align: start
  margin-bottom: 2rem
  font-family: Rowdies
  font-weight: bold
  font-size: 4rem
  color: #dcdcdc

.label
  font-size: 1.7rem !important
  color: #929196 !important
  font-family: Barlow-medium !important

.help
  font-size: 1.5rem !important

.is-link
  height: 4rem !important
  width: 7.5rem
  font-size: 1.5rem !important
  margin-top: 1.5rem

.input
  font-size: 1.4rem !important

.textarea
  font-size: 1.4rem !important

.links
  display: flex
  justify-content: center

.link-margin
  margin-top: -4rem
  margin-left: 3vw
  margin-right: 3vw

@media (max-width: 900px)
  .ctt-container

  .contact-form
    background: none
    padding: 0px
    position: relative
    height: 50rem
    display: flex
    align-items: center
    justify-content: center
  .ctt-width
    width: 80vw
  .OR
    display: none

// @media (min-width: 800px) and (max-width: 1000px)
//   .ctt-width
//     width: 50vw

// @media (max-width: 800px)
//   .header
//     font-size: 3rem

// @media (min-width: 620px) and (max-width: 800px)
//   .ctt-width
//     width: 60vw

// @media (max-width: 620px)
//   .ctt-width
//     width: 80vw
