.ctt-container
  display: flex
  flex-direction: column
  align-items: center

.ctt-width
  width: 40vw

.header
  align-self: start
  text-align: start
  margin-bottom: 5vh
  font-weight: bold
  font-size: 4rem
  color: #dcdcdc

.label
  font-size: 1.7rem !important
  color: #929196 !important
  font-family: Barlow-medium !important

.help
  font-size: 1.5rem !important
  
.is-link
  transform: scale(1.5)
  margin: 1.5rem

.input
  font-size: 1.6rem !important

.textarea 
  font-size: 1.6rem !important

.links
  display: flex
  justify-content: center

.link-margin
  margin-left: 5vw
  margin-right: 5vw
