.nav-container
  background-color: #D05A5A !important
  justify-content: center
  z-index: 1000 !important
  width: 100% !important

.email
  color: #c5c5c5
  align-self: center
  display: flex

.email-colored
  color: #f7b100

.button-container
  display: flex
  align-items: center

.button-text
  color: #dadada
  font-weight: bold
  margin-left: 40px
