.nav-container
  justify-content: center
  z-index: 1000 !important
  width: 100% !important
  background-color: #D05A5A !important

.nav-width
  display: flex
  width: 60vw

.email
  display: flex
  align-self: center
  font-family: Barlow-MediumI
  color: #dadada

.email-colored
  color: #f7b100

.button-container
  display: flex
  align-items: center

.button-text
  margin-left: 40px
  font-family: Barlow-Bold
  font-weight: bold
  color: #dadada

@media (max-width: 620px)
  .nav-container
    display: flex
  .nav-width
    width: 100vw
  .email
    display: none
  .button-text
    width: 22vw
