.h-view-tech-container, .h-tech-show, .h-tech-hide
  position: absolute
  width: 40rem
  height: 15rem
  right: 4rem
  z-index: 0
  top: 20rem
  display: flex
  align-items: flex-start
.h-tech-show
  // animation: slide-right-tech 1s forwards
.h-tech-hide
  // animation: slide-left-tech 1s

.h-popup-tech
  background: #003d3a
  height: 15rem
  width: 30rem
  border-radius: 10px
  display: flex
  justify-content: center
  flex-direction: row
  align-items: flex-end
  z-index: 1
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.4)
  p
    font-size: 3rem
    color: #d1d1d1
    position: absolute
    top: 1rem

.h-tech-bg
  position: absolute
  height: 100%
  width: 100%
  object-fit: cover
  z-index: -1
  opacity: .3
  filter: saturate(0)

.h-tech-icons
  height: 5rem
  width: 5rem
  object-fit: contain
  margin-left: 5px
  margin-right: 5px
  margin-bottom: 2rem

.h-view-tech
  border: none
  font-size: 2rem
  width: 7rem
  display: flex
  align-items: center
  justify-content: center
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px
  cursor: pointer
  color: #e4e4e4
  background: #003d3a
  z-index: 1
  margin-top: 2rem
  height: 10rem
  position: relative
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4), inset 7px 0px 9px -4px rgba(0,0,0,0.4)
  img
    position: absolute
    object-fit: cover
    z-index: 0
    opacity: .3
    height: 100%
    width: 70%
    // filter: saturate(0)
  p
    transform: rotate(90deg)
