.desktop-card
  display: flex
  justify-content: center
  width: 65vw

.mobile-card
  display: flex
  justify-content: center
  width: 65vw
  height: 50vh

.icon-proj
  display: flex
  justify-content: center
  align-items: center
  background: #CE7E3D
  opacity: 0%
  height: 60px
  width: 60px
  margin-left: 10px
  margin-right: 10px
  border-radius: 10000px
  margin-bottom: 0px

.icon-proj-active
  opacity: 100%
  transition: 1s opacity

.device-container
  display: flex
  flex-direction: column

.device-margin
  margin: 10px

.device-margin:hover
  color: #CE7E3D

@media (max-width: 620px)
  .desktop-card
    display: flex
    flex-direction: column
    justify-content: center
    width: 80vw
  .device-container
    position: absolute
    margin-top: 13vh
    right: 10vw
  .icon-proj
    margin-left: 5px
    margin-right: 5px
    height: 50px
    width: 50px
