.mobile-outer-popup-container
  position: absolute
  left: 0rem

.mobile-popup-container
  position: absolute
  display: flex
  flex-direction: column
  background: #003d3a
  height: 100vh
  z-index: 100
  // overflow-y: scroll
  //!!!!!!!!! change scrollbar style
  box-shadow: 4px 0px 9px -4px rgba(0,0,0,0.4)
  img
    height: 45rem
    margin: 3rem
    border-radius: 20px
    width: 20rem
    object-fit: cover

@keyframes slide-right-tech
  0%
    transform: translateX(0rem)
  100%
    transform: translateX(29rem)

@keyframes slide-left-tech
  0%
    transform: translateX(29rem)
  100%
    transform: translateX(0rem)

.b-view-tech, .b-view-repo
  border: none
  font-size: 2rem
  width: 7rem
  display: flex
  align-items: center
  justify-content: center
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px
  cursor: pointer
  color: #e4e4e4
  background: #003d3a
  z-index: 1
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4), inset 7px 0px 9px -4px rgba(0,0,0,0.4)
  img
    position: absolute
    object-fit: cover
    z-index: 0
    opacity: .3
    // filter: saturate(0)
  p
    transform: rotate(90deg)

.b-view-tech
  margin-top: 2rem
  height: 10rem
  position: relative
  img
    height: 100%
    width: 70%
  p

.b-view-repo
  height: 13rem
  position: absolute
  left: 26rem
  top: 36rem
  img
    height: 60%
    width: 100%
  p
    position: absolute
    width: 10rem
